.clock {
    background-color: #fb8966;
    display: inline-block;
    color: white;
    text-align: center;

    &-date {
        background-color: #cf7256;
        
        text-align: center;
        font-size: 0.5rem;
        padding: .25rem .5rem;


    }

    &-time{
        padding: 1rem 1rem;

        &-hour {
            background-color: #cf7256;
            padding: .25rem;

        }
    
        &-min {
            background-color: #cf7256;
            padding: .25rem;
        }
    
        &-sec {
            background-color: #cf7256;
            padding: .25rem;
        }
    }
}